@media screen and (max-width:371px){
    html{font-size:15px;}
}
@media screen and (max-width:420px) and (min-width:371px){
    html{font-size:20px;}
}
@media screen and (min-width:421px){
    html{font-size:30px;}
}
*{
    box-sizing:border-box;
}
body{
    margin:0;
    width:100%;
    height:100%;
}
.div_title_bar, .div_sub_title_bar{
    position:fixed;
    width:100%;
    text-align:center;
    background-color:#999;
    padding:0.5rem 0;
    z-index:6;
}
.div_sub_title_bar{
    background-color: #bbb;
    padding:0.2rem 0;
}
.div_content_panel{
    position:relative;
    font-size:0.8rem;
    text-align:center;
    overflow:auto;
}
.visit_label, .display_label{
    display:inline-block;
    margin:0 0.3rem;
}
.visit_label{
    color:blue;
}
.display_label{
    color:#c0f;
}

.visit_label:hover, .div_navigate_area:hover, .div_navigate_star:hover{
    color:#ff2200;
    cursor:pointer;
}
.visit_label:active, .div_navigate_area:active, .div_navigate_star:active{
    color:#bd1551;
}
.visit_label:visited, .div_navigate_area:visited, .div_navigate_star:visited{
    color:blue;
}

.display_input_name, .display_waiting{
    margin:10 auto;
    color: #000;
}
.display_submit_name{
    font-size: 1.5rem;
}

.div_submit_name{
    font-size: 0.8rem;
    padding: 0.2rem;
}

.common_block{
    background-color:#aaa;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    margin:0.8rem;
}
.common_item_divider{
    margin:0.1rem;
    border-top:1px solid #ccc;
    padding-top: 0.2rem;
}
.common_mask{
    position:fixed;
    z-index:8;
    background:rgba(0,0,0,0.5);
    left:0;
    top:0;
    width:100%;
    height: 100%;
}
.common_mask_content{
    position: fixed;
    width:100%;
    top: 15%;
    left: 0;
    background-color:#bbb;
    color:#df3;
    padding:0.6rem;
}
input[type='checkbox']{
    width:0.65rem;
    height:0.65rem;
}

.div_auto_add_field{
    margin: 0.2rem
}
.div_auto_field_left{
    display: inline-block;
    width: 48%;
    text-align: right;
}
.div_auto_field_right{
    display: inline-block;
    width: 48%;
    text-align: left;
}
.div_auto_navigate_item{
    display: inline-block;
}
.div_auto_navigate_next{
    display: inline-block;
    font-size: 0.5rem;
}
.div_auto_navigate_extra{
    position: absolute;
    right: 1rem;
}
.div_auto_item_block{
    margin: 0.2rem;
}
.div_auto_item_delete{
    position: absolute;
    left: 1rem;
}
.div_auto_item_right{
    position: absolute;
    right: 1rem;
}
.div_auto_config_block{
    margin: 0.2rem;
    padding: 0.2rem;
}
.div_auto_config_name{
    display: inline-block;
    color: #ff0;
    font-size: 0.8rem;
}
.div_auto_config_detail{
}
.input_check_auto_config{
}
.div_auto_config_prop_name{
    display: inline-block;
    font-size: 0.5rem;
    color: #070;
}

.div_areastar_block{
}
.div_areastar_title{
}
.div_areastar_title_text{
    font-size:1.5rem;
    display:inline-block;
}
.div_areastar_players_breaf{
}

.div_player_block{
    position:relative;
    color:#df3;
}
.div_player_block_not_in{
    color: #ddd;
    text-decoration: line-through;
}
.div_player_union, .div_player_name, .div_player_power{
    display:inline-block;
}
.div_player_name, .div_player_power{
    padding:0.1rem;
}
.div_player_name{
    margin-right: 5rem;
}
.div_player_power{
    right:0.6rem;
    position:absolute;
}
.display_area_golden{
    color:#ff1;
}
.display_area_gray{
    color:#ffe;
}
.display_player_green{
    color:#0f0;
}
.display_player_blue{
    color:#0ff;
}
.display_player_orange{
    color:#40e;
}
.display_player_red{
    color:#d22;
}
.display_player_purple{
    color:#709;
}

.div_navigate_areas, .div_navigate_stars{
    position:fixed;
    z-index:10;
    text-align:center;
    padding-bottom:0.3rem;
    font-size:0.9rem;
}
.div_navigate_areas{
    left:0.5rem;
    bottom:4rem;
}
.div_navigate_stars{
    left:4.5rem;
    bottom:0.5rem;
}
.div_navigate_stars_mask{
}
.div_navigate_area{
    padding-top:0.3rem;
    margin:0.6rem;
    width:3rem;
    height:2.0rem;
    background:rgba(200, 127, 0, 0.6);
}
.div_navigate_star{
    margin:0.2rem;
    width:11rem;
    height:2.2rem;
    background:rgba(222, 160, 0, 0.8);
}
.div_navigate_star_name{
    font-size: 0.7rem;
}
.div_navigate_star_num{
    display:inline-block;
    margin-left: 0.3rem;
    font-size: 0.7rem;
}
.div_navigate_star_max{
    font-size:0.6rem;
}
.div_navigate_star_power{
    display: inline-block;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}
.div_navigate_star_power_max{
    font-size: 0.8rem;
}

.div_player_list_title{
    color: rgb(240, 240, 240);
    font-size: 0.8rem;
    margin-top: 0.3rem;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.1rem;
}
.div_player_list{
    color: #ff5;
}
.div_player_item{
    margin-top: 0.1rem;
    border-top: 1px solid #ccc;
    background-color: #aaa;
    font-size: 0.7rem;
}
.div_player_item_union{
    display: inline-block;
    width: 10%;
}
.div_player_item_union_content{
}
.div_player_item_name{
    display: inline-block;
    width: 29%;
}
.div_player_item_name_content{
}
.div_player_item_power{
    display: inline-block;
    width: 14%;
}
.div_player_item_power_content{
}
.div_player_item_kingwar{
    display: inline-block;
    width: 15%;
}
.div_player_item_kingwar_content{
}
.div_player_item_union_name{
    display: inline-block;
    width: 15%;
}
.div_player_item_union_name_content{
}
.div_player_item_last{
    display: inline-block;
    width: 10%;
}
.div_player_item_last_content{
    font-size: 0.55rem;
}
.div_show_kingwar, .div_show_quit{
    position:fixed;
    z-index:10;
    text-align:center;
    padding-left:0.05rem;
    font-size:0.6rem;
    padding-top:0.2rem;
    margin:0.6rem;
    width:4.2rem;
    height:2.3rem;
    right: 1.5rem;
    background:rgba(200, 127, 0, 0.4);
}
.div_show_kingwar{
    top: 6rem;
}
.div_show_quit{
    top: 9rem;
}
.div_show_checked{
    border: 2px solid #0ad;
}

.div_users_list{
}
.div_user_item{
    position:relative;
}
.div_user_name, .input_user_name{
    display:inline-block;
    margin-right: 5rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}
.div_user_name{
    color:rgb(236, 233, 62);
}
.div_user_delete{
    display:inline-block;
    position: absolute;
    left:0.5rem;
    font-size: 0.7rem;
}
.div_user_operations{
    display:inline-block;
    position: absolute;
    right:0.5rem;
    font-size: 0.7rem;
}
.div_user_select_auth_level{
    margin-top: 0.1rem;
}
.user_unclickable > .div_user_name{
    border:2px dashed #ccc;
}
.user_clickable > .div_user_name{
    border:2px dashed #0c0;
}
.user_unclickable > .div_user_operations, .user_clickable > .div_user_operations{
    display:none;
}
.user_myself {
    border: 1px solid;
    border-color: rgba(150, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.2);
}
