@media screen and (max-width:371px){
    html{font-size:15px;}
}
@media screen and (max-width:420px) and (min-width:371px){
    html{font-size:20px;}
}
@media screen and (min-width:421px){
    html{font-size:30px;}
}
*{
    box-sizing:border-box;
}
body{
    margin:0;
    width:100%;
    height:100%;
}
.div_title_bar{
    text-align:center;
    background-color:#999;
    padding:0.5rem 0;
}
.div_mode_selector{
    display:inline-block;
}
.div_content_panel{
    font-size:0.8rem;
    text-align:center;
    overflow:auto;
}
.visit_label, .display_label{
    display: inline-block;
    margin:0 0.3rem;
    color:blue;
}

.visit_label:hover{
    color:red;
    cursor:hand;
}
.visit_label:active{
    color:#bd1551;
}
.visit_label:visited{
    color:blue;
}

.display_input_pwd{
    display:inline-block;
    margin:10 auto;
}

.div_content_panel_match{
    padding-top:0.3rem;
    color:#055;
}
.div_race_block{
    background-color:#aaa;
    padding-top:0.5rem;
    margin:0.8rem;
}
.div_race_title_text{
    font-size:1.5rem;
    display:inline-block;
}
.display_race_golden{
    color:#ff1;
}
.display_race_gray{
    color:#ffe;
}
.div_race_title_add{
    display:inline-block;
}
.div_player_item{
    padding:0.2rem;
    color:#df3;
}
.div_player_display{
    display:inline-block;
}
.div_player_delete_option{
    display:inline-block;
}
.div_player_line{
    display:inline-block;
    color:#fff;
}
.display_player_red{
    color:#c00;
}
.display_player_green{
    color:#0e3;
}
.div_player_group{
    display:inline-block;
}
.div_player_name{
    display:inline-block;
}
.div_player_power{
    display:inline-block;
}

.div_add_player_info{
    margin:0.3rem;
    padding:0.3rem;
    background-color:#aaa;
    color:#df3;
}
.display_add_text{
    color:#df3;
    margin:0.1rem;
}
.div_add_player_item, .div_add_player_group{
    display:inline-block;
    margin:0.1rem;
}
.div_add_player_group{
    width:25%;
}
.div_add_player_item{
    width:30%;
}
.input_player_name{
    width:100%;
}
.input_player_power{
    width:calc(100% - 0.8rem);
}
.add_player_control{
    margin-top:0.2rem;
    font-size:1rem;
}
.div_player_list{
    margin:0.2rem;
    background-color:#aaa;
}

.div_add_group_info{
    margin:0.3rem;
    padding:0.3rem;
    background-color:#aaa;
    color:#df3;
}
.div_group_list{
    margin:0.2rem;
    background-color:#aaa;
}
.div_group_item{
    padding:0.2rem;
    color:#df3;
}
.div_greoup_name{
    display:inline-block;
}
.div_group_line{
    display:inline-block;
    color:#fff;
}
.div_group_delete{
    display:inline-block;
}
