@media screen and (max-width:371px){
    html{font-size:15px;}
}
@media screen and (max-width:420px) and (min-width:371px){
    html{font-size:20px;}
}
@media screen and (min-width:421px){
    html{font-size:30px;}
}
*{
    box-sizing:border-box;
}
body{
    margin:0;
    width:100%;
    height:100%;
}
.div_title_bar{
    position:fixed;
    width:100%;
    text-align:center;
    background-color:#999;
    padding:0.5rem 0;
    z-index:1;
}
.div_content_panel{
    position:relative;
    font-size:0.8rem;
    text-align:center;
    overflow:auto;
}
.visit_label, .display_label{
    margin:0 0.3rem;
    color:blue;
}

.visit_label:hover{
    color:red;
    cursor:hand;
}
.visit_label:active{
    color:#bd1551;
}
.visit_label:visited{
    color:blue;
}

.display_input_pwd{
    margin:10 auto;
}

.div_content_panel_match{
    padding-top:0.3rem;
    position:relative;
    color:#055;
}
.div_race_block{
    background-color:#aaa;
    padding-top:0.5rem;
    margin:0.8rem;
}
.div_race_title_text{
    font-size:1.5rem;
}
.display_race_golden{
    color:#ff1;
}
.display_race_gray{
    color:#ffe;
}
.div_player_item{
    padding:0.2rem;
    color:#df3;
}
.div_player_line{
    color:#fff;
}
.display_player_green{
    color:#0f0;
}
.display_player_blue{
    color:#0ff;
}
.display_player_red{
    color:#c00;
}
.display_player_orange{
    color:#fa0;
}

.div_add_player_mask, .div_add_group_mask, .div_add_match_mask{
    position:fixed;
    width:100%;height:100%;
    top:0;left:0;
    background:rgba(0,0,0,0.5);
}
.div_add_player_info, .div_add_group_info, .div_add_match_search{
    position:absolute;
    top:20%;left:0;
    width:100%;
    background-color:#aaa;
    color:#df3;
    padding:0.3rem;
}
.display_add_text{
    color:#df3;
    margin:0.1rem;
}
.div_add_player_item, .div_add_player_group, .div_add_match_group, .div_add_match_item, .div_add_match_player{
    margin:0.2rem;
}
.div_add_match_player{
    margin-top:0.4rem;
}
.div_add_player_group{
    width:25%;
}
.div_add_player_item{
    width:30%;
}
.input_player_name{
    width:100%;
}
.input_player_power{
    width:calc(100% - 0.8rem);
}
.add_player_control, .add_group_control, .add_match_control{
    margin-top:0.2rem;
    font-size:1rem;
}
.div_player_list{
    margin:0.2rem;
    background-color:#aaa;
}

.div_group_list{
    margin:0.2rem;
    background-color:#aaa;
}
.div_group_item{
    padding:0.2rem;
    color:#df3;
}
.div_group_line{
    color:#fff;
}
.div_player_lasttime, .div_race_lasttime{
    padding:0.04rem;
    font-size:0.5rem;
    background-color:rgba(255, 255, 255, 0.8);
}

.div_group_delete,.div_group_line,.div_group_name,.div_add_player_item,.div_add_player_group,
.div_player_group,.div_player_name,.div_player_power,.div_mode_selector,.div_race_title_text,
.visit_label,.display_label,.display_input_pwd,.div_race_title_add,.div_player_line,.div_player_display,
.div_player_delete_option,.div_add_match_group,.div_add_match_item,.display_search_text,
.div_player_lasttime,.div_race_lasttime{
    display:inline-block;
}

.div_manage_user{
    position:absolute;
    float:right;
    right:0.6rem;
    padding:0.2rem;
}

.div_manage_user_on{
    background-color:rgba(100, 100, 100, 0.6);
}

.div_list_user{
    position:fixed;
    padding:0.4rem;
    padding-top:0rem;
    background-color:#999999;
    z-index:1;
    right:0.2rem;
    opacity:0.8;
}

.div_list_user_item{
    margin-top:0.2rem;
}

.div_unique_key_container, .div_unlock_key_container{
    margin:0.6rem;
}

.div_user_list_container{
    margin-top:0.5rem;
}

.table_user_list{
    width:100%;
}

td{
    text-align:center;
    word-break:break-all;
    font-size:0.7rem;
}

.input_text_display{
    width:100%;
}
