@media screen and (max-width:371px){
    html{font-size:15px;}
}
@media screen and (max-width:420px) and (min-width:371px){
    html{font-size:20px;}
}
@media screen and (min-width:421px){
    html{font-size:30px;}
}
*{
    box-sizing:border-box;
}
body{
    margin:0;
    width:100%;
    height:100%;
}
.div_title_bar{
    text-align:center;
    background-color:#999;
    padding:0.5rem 0;
}
.div_bottom_bar{
    text-align: right;
}
.div_file_panel,.input_edit_tag{
    font-size:0.8rem;
}
.div_file_item{
    padding:0.5rem 1rem;
    position:relative;
}
.div_file_item:nth-child(2n+1){
    background-color:#e0e0e0;
}
.div_file_item:nth-child(2n){
    background-color:#eee;
}

.div_delete_tag,.div_rename_tag{
    position:absolute;
    top:0.5rem;
    color:red;
    cursor:pointer;
    visibility:hidden;
}
.div_delete_tag{
    left:1rem;
}
.div_rename_tag{
    right:1rem;
}
.on_edit .div_file_item{
    padding-right:3rem;
}
.on_edit .div_file_item_pc{
    padding-left:3rem;
}
.on_edit .div_delete_tag,.on_edit .div_rename_tag{
    visibility:visible;
}
.div_delete_tag:hover,.div_rename_tag:hover{
    color:#820303;
}

.on_rename .div_view_tag{
    display: none;
}
.input_edit_tag{
    display: none;
}
.on_rename .input_edit_tag{
    display: block;
}

.div_view_tag{
    cursor:pointer;
}
.div_view_tag:hover{
    color:blue;
}
.visit_label{
    display: inline-block;
    margin:0 1rem;
    color:blue;
}

.visit_label:hover{
    color:red;
    cursor:hand;
}

.visit_label:active{
    color:#bd1551;
}

.visit_label:visited{
    color:blue;
}

.div_iframe_container{
    width:100%;
}

.div_iframe_container_mobile{
    overflow:scroll;
    -webkit-overflow-scrolling:touch;
    word-break: break-all;
    white-space: normal;
}

.iframe_content{
    width:100%;
    height:100%;
    border:0px;
}

.text_content{
    overflow:scroll;
    white-space: pre-line;
    width:100%;
    height:100%;
    border:0px;
    padding-left:8px;
    padding-right: 4px;
}
