@media screen and (max-width:371px){
    html{font-size:15px;}
}
@media screen and (max-width:420px) and (min-width:371px){
    html{font-size:20px;}
}
@media screen and (min-width:421px){
    html{font-size:30px;}
}
*{
    box-sizing:border-box;
}
body{
    margin:0;
}
.div_title_bar{
    text-align:center;
    background-color:#ddd;
    padding:0.5rem 0;
}
.div_bottom_bar{
    text-align: right;
}
.div_file_panel{
    font-size:0.8rem;
}
.div_file_item{
    padding:0.5rem 1rem;
    position:relative;
}
.div_file_item:nth-child(2n+1){
    background-color:white;
}
.div_file_item:nth-child(2n){
    background-color:#eee;
}
.div_delete_tag{
    position:absolute;
    top:0.5rem;left:1rem;
    color:red;
    cursor:pointer;
    visibility:hidden;
}
.on_edit .div_file_item{
    padding-left:3rem;
}
.on_edit .div_delete_tag{
    visibility:visible;
}
.div_delete_tag:hover{
    color:#820303;
}
.div_view_tag{
    cursor:pointer;
}
.div_view_tag:hover{
    color:blue;
}
.visit_label{
    display: inline-block;
    margin:0 1rem;
    color:blue;
}

.visit_label:hover{
    color:red;
    cursor:hand;
}

.visit_label:active{
    color:#bd1551;
}
